scripts/twes
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "fff2004c-f885-474b-81d6-b810f865caa4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "command": "python3 /scripts/analytics_report.py\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "768b6421-1b45-4c29-92e5-79b2b6fd1c76",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "chatId": "8108626524",
        "text": "={{ $json.stdout }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        440,
        0
      ],
      "id": "77f19cbc-5861-45df-b08f-a0ec7a75f0b1",
      "name": "Telegram",
      "webhookId": "2196d322-f304-4ba3-bc78-d0ec34f04b34",
      "credentials": {
        "telegramApi": {
          "id": "bXi0old4gFAPDU16",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ea2a6fa26ee71f66c57554d418940503fe90a97b55d105d317f5e0a074cc7c50"
  }
}